extends dashboard-layout

block primary
  ul#slides.swiper-wrapper
    each post in posts
      li
        = post.getTitle()
        form(method='POST', action='/admin' enctype="application/x-www-form-urlencoded")
          <input type="hidden" name="_method" value="DELETE"/>
          <input type="hidden" name="post_id" value=#{post.getId()}>

          button(type='submit') Delete
