@font-face {
  font-family: 'CaviarDreams';
  src: url('/CaviarDreams.ttf');
}

@font-face {
  font-family: "CaviarDreams";
  font-weight: bold;
  src: url('/CaviarDreams_Bold.ttf');
}

body{
  font-family: "CaviarDreams";
  min-height: 100%;
}

header {
  padding-top:20px;
  margin-bottom:10px;
  text-align: center;
}

.header-nav {
  margin-bottom: 55px;
}

.absolute-wrapper{
    position: absolute;
}

/*.gallery img {
  width: 100%;
  height:auto;
}*/
.card-content.list {
  max-height: 290px;
  overflow: scroll;
}

.gallery {
  padding-left: 20px;
  padding-right: 20px;
}
.thumbnail-container {
  padding: 5px;
}

.thumbnail-container:hover {
  cursor:pointer;
}

.header-nav li a {
  text-decoration: none !important;
  color:black;
  font-size: 1.4em;
  display: inline-block;
}

header .list-inline{
  display:block;
}

header .list-inline li {
  display:inline-block;
  padding: 0;
}

header .list-inline.menu li:not(:last-child):after{
  content:'•';
  margin:0 13px;
}

#main-logo  {
  margin-bottom:20px;
}
.scale {
  -webkit-transition: all 0.1s linear;
          transition: all 0.1s linear;
}

.scale:hover {
  -webkit-transform: scale(1.13);
     -moz-transform: scale(1.13);
      -ms-transform: scale(1.13);
       -o-transform: scale(1.13);
          transform: scale(1.13);

}

.social-list img {
  width: 45px;
}

.social-list li {
  margin-top:10px;
}
.social-list .small {
  display: inline-block;
  margin: 0 auto;
}
.social-list .small img{
  width:40px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/*image hover effect*/

.column#caption {
  position: relative;
}

.column#caption .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  transition: all 0.8s ease;
}

.column#caption .text h1 {
  margin: 0;
  color: black;
}

.column#caption:hover .text {
  opacity: 1;
}

.column#caption img {
  cursor:pointer;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.column#caption img:hover {
  opacity: 0.5;
}



/*button */

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
