@font-face {
  font-family: 'CaviarDreams';
  src: url('/CaviarDreams.ttf');
}

@font-face {
  font-family: "CaviarDreams";
  font-weight: bold;
  src: url('/CaviarDreams_Bold.ttf');
}

body{
  font-family: "CaviarDreams";
}

header {
  margin-bottom:10px;
  text-align: center;
}

.header-nav {
  margin-bottom: 30px;
}

.absolute-wrapper{
    position: absolute;
}
#image-contact {
  margin: 0 auto;
}

.card-content.list {
  max-height: 290px;
  overflow: scroll;
}


.header-nav li a {
  text-decoration: none !important;
  color:black;
  font-size: 1.2em;
  display: inline-block;
}

header .list-inline{
  display:block;
}

header .list-inline li {
  display:inline-block;
  padding: 0;
}

header .list-inline.menu li:not(:last-child):after{
  content:'•';
  margin:0 13px;
}

#main-logo  {
  margin-bottom:20px;
  margin: 0 auto;
}
.scale {
  -webkit-transition: all 0.1s linear;
          transition: all 0.1s linear;
}

.scale:hover {
  -webkit-transform: scale(1.13);
     -moz-transform: scale(1.13);
      -ms-transform: scale(1.13);
       -o-transform: scale(1.13);
          transform: scale(1.13);

}

.social-list img {
  width: 45px;
}

.social-list li {
  margin-top:10px;
}
.social-list .small {
  display: inline-block;
  margin: 0 auto;
}
.social-list .small img{
  width:40px;
}

/*image hover effect*/

.grid li {
    display: inline-block;
    width: 450px;
    padding: 10px;
}
.overlay {
  cursor:pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffffb5;
}

.caption:hover .overlay {
  opacity: 1;
}
.caption {
  position: relative;
}
.text {
  color: black;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*button */

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
