.dashboard {
  background-color: #cadbec;
}

.card-content.list {
  max-height: 380px;
  overflow: auto;
}

#dropzone {
  font: bold 24px/200px;
  text-align: center;
  cursor: pointer;
}

#dropzone img {
  border-radius: 10px;
  vertical-align: middle;
  max-width: 95%;
  max-height: 95%;
}

/*sortable list*/

  .demo8 {
    width: 320px;
  }
  .demo8-item {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    cursor:ns-resize;
    position: absolute;
    width: 320px;
    height: 90px;
    overflow: visible;
    pointer-events: auto;
    transform-origin: 50% 50% 0px;
    border-radius: 4px;
    color: rgb(153, 153, 153);
    line-height: 96px;
    padding-left: 32px;
    font-size: 24px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .sortable-list {
    display: table;
    margin: 0 auto;
  }
  .sortable-list .sortable-container {
    position: relative;
    z-index: 0;
    background-color: #f3f3f3;
    border: 1px solid #efefef;
    border-radius: 3px;
    outline: none;
    width: 200px;
    height:400px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;   
    margin-bottom:25px; 
  }
  .sortable-list .element{ 
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    font-weight: 400;
    height: 59px;
    position: relative;
  }
