extends layout

block content

  form(method='POST')
    div.form-group
      label(for='title') Titre:
      input#title.form-control(type='text', placeholder='first and last' name='title')
    div.form-group
      label(for='content') Description:
      textarea#content.form-control(placeholder='name@email.com' name='content')
    div.form-group
      label(for='image') Images:
      input#title.form-control(type='file', name='image', multiple='multiple')

    div.form-group
      label(for='category') Categorie:
      select#category.form-control(name='category')

    button.btn.btn-primary(type='submit') Ajouter
